<h1>Listing Posts</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <td><%= link_to '<button type="button">Show</button>'.html_safe, post %></td>
      <td><%= link_to '<button type="button">Edit</button>'.html_safe, edit_post_path(post) %></td>
      <td><%= link_to '<button type="button">Destroy</button>'.html_safe, post, method: :delete, data: { confirm:
                                                                                                                 "Are you sure?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button">New Post</button>'.html_safe, new_post_path %>