/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  height: 100%
}

body {
  background: -webkit-linear-gradient(90deg, #fc00ff 10%, #00dbde 90%); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #fc00ff 10%, #00dbde 90%); /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #fc00ff 10%, #00dbde 90%); /* IE10 */
  background: -o-linear-gradient(90deg, #fc00ff 10%, #00dbde 90%); /* Opera 11.10+ */
  background: linear-gradient(90deg, #fc00ff 10%, #00dbde 90%); /* W3C */
}

.navbar-default {
  background: rgba(250, 250, 250, 0.5);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.75);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  border: none;
  border-radius: 0;
  .navbar-header {
    .navbar-brand {
      color: white;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -1px;
    }
  }
  .navbar-link {
    line-height: 3.5;
    color: rgb(48, 181, 199);
  }
}

#index_posts {
  h2 {
    margin-bottom: 0;
    font-weight: 100;
    a {
      color: white;
    }
  }
  h3 {
    margin: 0;
    font-size: 18px;
    span {
      color: rgb(48, 181, 199);
    }
  }
}