!!!
%html
  %head>
    %title Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          = link_to "Home", root_path, class: "navbar-brand"
        .nav.navbar-nav.navbar-right
          - if user_signed_in?
            = link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-brand"
          - else
            = link_to "Log In", new_user_session_path, class: "navbar-brand"
    .container
      %p.notice= notice
      %p.alert= alert
      = yield
